
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Item Title</span>
  </div>
  <div class="col-md-9 main pull-right">
    <input type="text" class="form-control" placeholder="Item Title" ng-model="ContentItem.item.data.title">
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Deep Link URL</span>
  </div>
  <div class="col-md-9 main pull-right">
    <p class="margin-zero">{{ContentItem.item.data.deepLinkUrl}}</p>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Item Summary</span>
  </div>
  <div class="col-md-9 main pull-right">
    <textarea class="form-control" placeholder="Item Summary" ng-model="ContentItem.item.data.summary"></textarea>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Include in the following Categories</span>
  </div>
  <div class="col-md-9 main pull-right">
    <div class="col-xs-12 pull-left padding-zero margin-bottom-ten">
      <a class="text-success" ng-click="ContentItem.addFilter()">Add New Category</a>
    </div>
    <div class="checkbox checkbox-primary no-label col-xs-6 margin-top-zero margin-bottom-ten" ng-repeat="category in ContentItem.item.data.Categories track by $index">
      <input id="{{category.id}}" type="checkbox"    ng-checked="ContentItem.selection.indexOf(category.id) > -1"
             ng-click="ContentItem.toggleCategoriesSelection(category)">
      <label for="{{category.id}}" class="item padding-left-ten">{{category.title}}</label>
    </div>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>List Image</span>
  </div>
  <div class="col-md-9 main pull-right">
    <div class="screens clearfix">
      <div class="screen logoicon pull-left text-center">
        <a class="border-grey border-radius-three default-background-hover" ng-click="ContentItem.addListImage()">
          <span ng-if="!ContentItem.item.data.listImage" class="add-icon">+</span>
          <img ng-if="ContentItem.item.data.listImage" ng-src="{{ContentItem.item.data.listImage | getImageUrl : 82:110 :'resize'}}">
        </a>
        <span ng-if="ContentItem.item.data.listImage" class="icon btn-delete-icon btn-danger transition-third" ng-click="ContentItem.removeListImage()"></span>
      </div>
    </div>
  </div>
</div>
<hr class="none">
    <div id="carousel" carousel-component images="ContentItem.item.data.carouselImages"></div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Pre-Redemption Image</span>
  </div>
  <div class="col-md-9 main pull-right">
    <div class="screens clearfix">
      <div class="screen logoicon pull-left text-center">
        <a class="border-grey border-radius-three default-background-hover" ng-click="ContentItem.addPreRedemptionImage()">
          <span ng-if="!ContentItem.item.data.preRedemptionImage" class="add-icon">+</span>
          <img ng-if="ContentItem.item.data.preRedemptionImage" ng-src="{{ContentItem.item.data.preRedemptionImage | getImageUrl : 82:110 :'resize'}}">
        </a>
        <span ng-if="ContentItem.item.data.preRedemptionImage" class="icon btn-delete-icon btn-danger transition-third" ng-click="ContentItem.removePreRedemptionImage()"></span>
      </div>
    </div>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-12 labels pull-left">
    <span>Pre-Redemption Body Content</span>
  </div>
</div>
<div class="item clearfix row margin-top-ten">
  <div class="col-md-12 main pull-left">
    <textarea placeholder="WYSIWYG" class="form-control" ui-tinymce="ContentItem.bodyWYSIWYGOptions" ng-model="ContentItem.item.data.preRedemptionText"></textarea>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Post-Redemption Image</span>
  </div>
  <div class="col-md-9 main pull-right">
    <div class="screens clearfix">
      <div class="screen logoicon pull-left text-center">
        <a class="border-grey border-radius-three default-background-hover" ng-click="ContentItem.addPostRedemptionImage()">
          <span ng-if="!ContentItem.item.data.postRedemptionImage" class="add-icon">+</span>
          <img ng-if="ContentItem.item.data.postRedemptionImage" ng-src="{{ContentItem.item.data.postRedemptionImage | getImageUrl : 82:110 :'resize'}}">
        </a>
        <span ng-if="ContentItem.item.data.postRedemptionImage" class="icon btn-delete-icon btn-danger transition-third" ng-click="ContentItem.removePostRedemptionImage()"></span>
      </div>
    </div>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-12 labels pull-left">
    <span>Post-Redemption Body Content</span>
  </div>
</div>
<div class="item clearfix row margin-top-ten">
  <div class="col-md-12 main pull-left">
    <textarea placeholder="WYSIWYG" class="form-control" ui-tinymce="ContentItem.bodyWYSIWYGOptions" ng-model="ContentItem.item.data.postRedemptionText"></textarea>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Start Date</span>
  </div>
  <div class="col-md-9 main pull-right">
    <input type="text" class="form-control" placeholder="MM/DD/YYYY"
           date-time-start="" data-start-date="ContentItem.item.data.startOn">
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Expiration Date</span>
  </div>
  <div class="col-md-9 main pull-right">
    <input type="text" class="form-control" placeholder="MM/DD/YYYY"
           date-time-expire=""
           data-expire-date="ContentItem.item.data.expiresOn">
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Address Title</span>
  </div>
  <div class="col-md-9 main pull-right">
    <input type="text" class="form-control" placeholder="Address Title" ng-model="ContentItem.item.data.addressTitle">
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 labels pull-left">
    <span>Coupon Location</span>
  </div>
  <div class="col-md-9 main pull-right">
    <input type="text" class="form-control" placeholder="Enter street address or lat/long coordinates" google-location-search="" callback-fn="ContentItem.setLocation(data)"
           ng-model="ContentItem.currentAddress"
           ng-enter="ContentItem.setCoordinates()"
           ng-paste="ContentItem.locationAutocompletePaste()"
           ng-change="ContentItem.clearData()">
      <!--<hr class="none" ng-show="ContentHome.validCopyAddressFailure || ContentHome.validCoordinatesFailure">-->

      <br ng-show="ContentItem.validCopyAddressFailure || ContentItem.validCoordinatesFailure"/>
      <div class="alert alert-danger alert-sm text-center"
           ng-show="ContentItem.validCopyAddressFailure">Please enter valid
          address
      </div>
      <div class="alert alert-danger alert-sm text-center"
           ng-show="ContentItem.validCoordinatesFailure">Please enter valid
          coordinates
      </div>
  </div>
</div>
<div class="item clearfix row" ng-if="ContentItem.currentCoordinates">
    <div class="col-md-9 pull-right">
        <br/>
        <div google-map dragged-fn="ContentItem.setDraggedLocation(data)"
             coordinates="ContentItem.currentCoordinates"
             class="google-map-fix"
                ></div>
    </div>
</div>
<hr class="none">
<div id="actionItems"  dynamic-link-component links="ContentItem.item.data.links"></div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-3 main pull-right">
    <a class="btn btn-primary stretch" ng-click="ContentItem.done()" ng-disabled="!ContentItem.isItemValid">Done</a>
  </div>
</div>