/* Link Items */
.link-list{
	padding-top:2px;
}
.link-list a + a{
	margin-left:10px;
}

/* List Items */
.list-items .list-item,
.list-layout .list-item{
	position:relative;
}
.list-items .list-item:before,
.layout3 .list-layout .list-item:after{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.layout3 .list-layout .list-item:after{
	border-top:none !important;
	top:inherit;
	bottom:0;
	border-bottom:1px solid #ddd !important;
}
.list-items .list-item + .list-item{
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
.list-layout .list-item{
	padding-left:15px;
	padding-right:8px;
}
.list-layout .list-item + .list-item{
	padding-left:8px;
	padding-right:15px;
}
.list-layout .list-item-media{
	position:relative;
	left:0;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.now-playing:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background:#09a3ee;
}
.list-layout .list-item-media.edit{
	left:-100px;
}
.list-layout .list-item-media .remove-btn{
	position:absolute;
	top:0;
	right:-120px;
	padding:25px 0;
	width:100px;
	height:100%;
	color:#fff;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.edit .remove-btn{
	right:-100px;
}
.list-layout .list-item-media.edit .btns{
	right:58px;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
}
.list-layout.items-layout3 .list-item-media .list-media-holder img{
	max-height:100%;
}
.list-layout.layout-6 .list-item-media .list-media-holder{
	/*height:150px;*/
}
.list-layout.layout-6 .list-item-media .list-media-holder img{
	max-height:100%;
}
.list-layout .list-item-copy{
	padding:10px 0;
	min-height:70px;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	position:relative;
}
.layout3 .list-layout:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.layout3 .list-layout .list-item-media{
	background:none;
}
.layout3 .list-layout .list-item-media .list-media-holder{
	width:96px;
	width:114px;
	height:72px;
	line-height:70px;
	margin:inherit;
	margin-right:10px;
	/*background:#efefef;*/
	border-radius:4px;
	margin:4px 8px 3px 5px;
	text-align:center;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder{
	line-height:70px;
}
.layout3 .list-layout .list-item-media .list-media-holder.square-icon{
	width:70px;
}
.layout3 .list-layout .list-item-media .list-media-holder img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	border-radius:2px;
}
.layout3 .list-layout .list-item-media .list-media-holder .main-icon{
	font-size:44px;
	position:relative;
	top:8px;
}
.layout3 .list-layout .list-item{
	padding:0;
	min-height:71px;
	position:relative;
}
.layout3 .list-layout .list-item-copy{
	padding:6px 10px 5px 5px;
}

.holder .plugin-banner{
	position:relative;
	border-bottom:none !important;
}

/* Fixed Bottom */
.holder.has-bottom{
	padding-bottom:38px !important;
}
.holder.has-bottom.has-filter{
	padding-bottom:58px !important;
}
.holder.has-bottom.has-extra-links,
.holder.has-bottom.has-extra-links.has-filter{
	padding-bottom:88px !important;
}
.holder.has-bottom.has-extra-links.has-filter.map-layout{
	padding-bottom:0px !important;
}

.holder.has-bottom.has-filter .bottom .filterBar{
	display:block;
	position:absolute;
	top:-21px;
	left:0;
	width:100%;
	z-index:5;
}
.holder .bottom.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:9999;
	background:#fff;
}
.holder .bottom.fixed-bottom .primaryBackgroundTheme{
	background:#09a3ee;
}
.holder .bottom.fixed-bottom .defaultBackgroundTheme{
	background:#000;
}
.holder .bottom.fixed-bottom.has-content{
	bottom:-240px;
}
.holder .bottom.fixed-bottom.has-content.open{
	bottom:0;
}
.holder .bottom.fixed-bottom .hidden-content{
	height:240px;
	overflow-y:auto;
	overflow-x:hidden;
	background:#fff;
}
.holder .bottom.fixed-bottom .hidden-content .content{
	display:none;
}
.holder .bottom.fixed-bottom .hidden-content .content.active{
	display:block;
}
.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item,
.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item-copy{
	min-height:40px;
}
.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item-media .remove-btn{
	padding:16px 0;
}
.holder .bottom.fixed-bottom .hidden-content .form-holder{
	padding:0 8px;
}
.holder .bottom.fixed-bottom .hidden-content textarea{
	max-height:204px;
	height:204px;
	resize:none;
}
.holder .bottom div{
	padding:0;
}
.holder .bottom .padded{
	padding:15px;
}
.holder .bottom div a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:8px;
	font-size:13px;
	text-decoration:none;
	z-index:9;
}
.holder .bottom > .hidden-content{
	background:#fff;
}
.holder .bottom div a.active{
	font-weight:500;
}
.holder .bottom .extra-links a{
	position:absolute;
	top:-45px;
	left:10px;
	border-radius:100%;
	font-size:21px;
	padding:7px;
	text-align:center;
	height:35px;
	width:35px;
	/*z-index:13;*/
	opacity:0.8;
}
.holder .bottom .extra-links a .icon{
	color:#09a3ee;
}

/* Custom */
.coupon .list-item-copy p{
	line-height:18px;
}
.coupon .list-item-copy p.small{
	font-size:11px;
	line-height:15px;
}
.coupon .form-holder .form-control.border-none{
	height:38px;
}
.coupon .form-holder .form-control.border-none.has-clear{
	padding-right:48px;
}
.coupon .list-item-copy p span.selected{
	font-weight:500;
}
.coupon .list-item-copy .copy-holder{
	padding-right:45px;
}
.coupon .list-item-copy .bookmark-holder{
	position:absolute;
	top:51%;
	right:10px;
	transform:translateY(-50%);
}
.coupon .list-item-copy .bookmark-holder span.icon{
	font-size:20px;
	vertical-align:top;
}
.coupon .form-holder .clear-icon{
	position:absolute;
	right:10px;
	top:10px;
	display:inline-block;
	font-size:12px;
}
.coupon .well p{
	font-size:13px;
}
/* Item Layouts 4-5 */
.item-block{
	position:relative;
	padding:1px !important;
}
.plugin-slide p.item-text{
	position:absolute;
	top:50%;
	margin-top:-10px;
	left:0;
	width:100%;
	padding:0 20px;
	font-size:16px;
	line-height:24px;
	color:#fff;
	z-index:7;
	-webkit-transform:translate3d(0,0,0);
}
.item-block .text-holder{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:7;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
.item-block .text-holder p.item-text{
	display:flex;
	align-self:center;
	color:#fff;
	padding:15px;
	/*text-shadow:1px 1px 3px #111;*/
	margin:0;
	-webkit-transform:translate3d(0,0,0);
}
.item-block img{
	height:auto;
	width:100%;
}
.blackLayer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:7;
	background:rgba(0,0,0, 0.35);
	-webkit-transform:translate3d(0,0,0);
}
.hasBackground .backgroundLayer{
	position:absolute;
	top:-9px;
	left:-7%;
	width:112%;
	height:112%;
	z-index:4;
	background-size:cover !important;
	background-position:center center !important;
	-o-filter:blur(8px);
	-moz-filter:blur(8px);
	-webkit-filter:blur(8px);
	filter:blur(8px);
}
.hasBackground .plugin-slide{
	position:relative;
	overflow:hidden;
}
.hasBackground .plugin-slide img{
	position:relative;
	z-index:6;
	width:674px !important;
}

/* Items Layout 3-4 */
.plugin-slide{
	text-align:center;
}
.plugin-slide .item-text p.item-date,
.layout4 .panel p.date{
	font-size:12px;
	font-style:italic;
}
.item-block img{
	height:auto;
	width:100%;
}
.items-layout3 .plugin-slide .item-text p{
	line-height:20px;
}
.items-layout3 .plugin-slide .item-text p + p{
	line-height:17px;
}
.items-layout3 .notes .plugin-slide,
.items-layout3 .notes .plugin-slide img{
	max-height:inherit;
}
.items-layout3 .plugin-banner{
	padding:0 10px 10px !important;
}
.items-layout3 .plugin-banner:nth-child(1),
.items-layout3 .plugin-banner:nth-child(2){
	padding-top:0;
}
.items-layout3 .plugin-banner:nth-child(odd){
	padding-right:5px !important;
}
.items-layout3 .plugin-banner:nth-child(even){
	padding-left:5px !important;
}
.items-layout3 .plugin-banner .plugin-slide{
	overflow:hidden;
}
.items-layout3 .plugin-banner .plugin-slide .item-text{
	z-index:12;
	padding:6px 10px;
}
.items-layout3 .plugin-slide span.icon{
	font-size:20px;
}
.coupon.layout4 .panels{
	padding:0 10px;
}
.coupon.layout4 .panel{
	margin-bottom:10px;
	border:none !important;
}
.coupon.layout4 .panel .panel-heading{
	border-radius:3px 3px 0 0 !important;
	height:46px;
	position:relative;
}
.coupon.layout4 .panel .panel-heading .media{
	width:34px;
	height:34px;
	border-radius:100%;
	border:1px solid #fff;
	margin-right:13px;
	position:relative;
	top:-2px;
}
.coupon.layout4 .panel .panel-heading p{
	position:relative;
	top:50%;
	margin-top:-10px !important;
	height:20px;
	max-width:78%;
	padding-right:30px !important;
}
.coupon.layout4 .panel .panel-heading .save-icon{
	position:absolute;
	top:12px;
	right:12px;
}
.coupon.layout4 .panel .panel-heading .save-icon .icon{
	font-size:20px;
}
.coupon.layout4 .panel .panel-body{
	padding:10px 10px 5px !important;
	border-top:none !important;
	border-radius:0 0 3px 3px !important;
}
.coupon.layout4 .panel .panel-body p{
	line-height:17px;
	margin-bottom:3px;
}

/* Layout 1-2 */
.coupon.layout3.valign .list-item-copy .copy-holder,
.coupon.layout2.valign .list-item-copy .copy-holder{
	position:absolute;
	top:50% !important;
	transform:translateY(-50%) !important;	
	width:95%;
	padding-left:75px;
}
.coupon.layout2.valign .list-item-copy .copy-holder{
	padding-left:119px;
}
.coupon.layout3.valign .list-item-copy .copy-holder.no-padding,
.coupon.layout2.valign .list-item-copy .copy-holder.no-padding{
	padding-left:0 !important;
}


/* Map Layout */
.map-layout .overlay-list{
	position:absolute;
	top:-245px;
	left:0;
	width:100%;
	background:#fff;
	transition:0.3s all ease-in-out;
}
.map-layout .overlay-list.active{
	top:0;
}
.map-layout .layout3 .list-layout{
	max-height:245px;
	overflow-y:auto;	
}
.map-layout .layout3 .list-layout .list-item-media .list-media-holder{
	width:96px !important;
	margin:0 10px 0 0;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy{
	padding:0 !important;
	margin-top:-3px;
	/*min-height:inherit;*/
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder{
	position:relative;
	top:10px;
	padding-right:55px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p:first-child{
	font-size:14px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p{
	font-size:13px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p.small{
	font-size:12px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p.small span.dot{
	position:relative;
	padding:2px;
	margin:2px 4px;
	border-radius:100%;
	display:inline-block;
	background:#5f5f5f;
}
.map-layout .layout3.coupon .list-item-copy .bookmark-holder{
	padding:7px 8px;
	border-radius:100%;
}
.map-layout .layout3.coupon .overlay-list .close-bar{
	position:absolute;
	bottom:0;
}

/* Coupon Item */
.coupon-item .intro p{
	line-height:17px;
}
.coupon-item .intro .col-xs-5{
	margin-top:4px;
}
.coupon-item .intro .col-xs-5 img{
	max-width:40px;
}
.coupon-item .intro .col-xs-5 .save-holder{
	padding:7px 8px;
	border-radius:100%;
	width:40px;
	height:40px;
}
.coupon-item .intro .col-xs-5 .save-holder span.icon{
	vertical-align:middle;
	font-size:20px;
}
.coupon-item .redeem-photo img{
	width:100%;
	max-width:400px;
}

/* Filter */
.filter .item span.icon.icon-chevron-down{
	font-size:12px;
	margin-left:5px;
	position:relative;
	top:1px;
	display:inline-block;
	font-weight:600;
	transition:0.3s all ease-in-out;
}
.filter .item.active span.icon.icon-chevron-down{
	transform:rotate(-180deg);
	-ms-transform:rotate(-180deg); 
	-webkit-transform:rotate(-180deg);
}
.filter .item .filter-content{
	height:0;
	opacity:0;
	overflow:none;
	transition:0.3s all ease-in-out;
}
.filter .item.active .filter-content{
	opacity:1;
	padding:5px 0 5px 30px;
	height:auto;
}
.filter .item.sorting.active .filter-content{
	padding-right:30px;
}
.filter .item .filter-content p{
	font-size:13px;
	position:relative;
}
.filter .item .filter-content p.text-primary:after{
	content:'\e60d';
	font-family: 'icomoon' !important;
  	position:absolute;
	right:15px;
	font-size:16px;
}
.filter .item .filter-content hr.small{
	margin:6px 0;
}
.filter .toggle-btns{
	border:1px solid #09a3ee;
}
.holder .toggle-btns a{
	padding:6px 8px 4px;
	font-size:12px;
	vertical-align:top;
	display:inline-block;
}
.holder .toggle-btns a.active{
	color:#fff;
}


.sticky-bottom-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*
* Removed border for modal pop up
*/

html[buildfire] .modal .modal-dialog {
    border: none !important;
}

/*
* Removed backdrop for modal pop up
*/

html[buildfire='widget'] .modal {
    background: none !important;
}

.filter-content.distance.distance.distance.distance.distance {
    padding-right: 20px;
    padding-left: 20px;
}