/* Global Styles ////////////////////////////////////////////////////////////////////////////// */
html{
	font-size: 16px !important;
}
.caption {
	font-size: .75rem;
	line-height: 1.25rem;
	opacity: .5;
}
.main-header{
	box-shadow:0 2px 4px rgba(98, 98, 98, 0.3);
	padding: 1rem;
}
h5{
	font-size: 1rem !important;
}
.list-layout{
	padding: 1rem 0;
}
.list-item{
	cursor: pointer;
}
.list-item:hover{
	background-color: rgba(150,150,150,.05);
}
.btn-icon,
.btn-icon.glyphicon{
	top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	font-size: 1.125rem;
	cursor: pointer;
}
.btn-icon.glyphicon::before{
	position: relative;
	top: 1px;
	left: 1px;
}
.btn-icon:hover{
	background-color: rgba(150,150,150,.05);
}
.load-in{
	transform: scale(.1);
	opacity: 0;
	animation: load-in .2s ease-in .5s forwards;
}
@keyframes load-in {
	0%{
			transform: scale(.1);
	}
	100%{
			transform: scale(1);
			opacity: 1;
	}
}
.bottom.fixed-bottom.primaryBackgroundTheme{
	padding-bottom: env(safe-area-inset-bottom);
}
.plugin-slider .plugin-slide,
.plugin-slider.owl-carousel .owl-stage-outer,
.plugin-slider.owl-carousel .owl-stage,
.plugin-slider.owl-carousel .owl-item{
	min-height: inherit !important;
}
.plugin-slider .plugin-slide img{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
	min-height: inherit !important;
}
.word-break{
	word-break: break-word;
}
/* End Global Styles ////////////////////////////////////////////////////////////////////////////// */

/* Layout 1 ////////////////////////////////////////////////////////////////////////////// */
.layout1 .list-item{
	display: flex;
	padding: .75rem .5rem .75rem 1rem;
}
.layout1 .list-item-top{
	display: flex;
}
.layout1 .list-item-top .list-item-copy{
	flex: auto;
}
.layout1 .list-item-main{
	flex: auto;
	margin-bottom: .25rem;
}
.layout1 .square-icon{
	margin-top: .125rem;
	width: 3.5rem;
	height: 3.5rem;
	overflow: hidden;
	border-radius: .25rem;
	flex-shrink: 0;
	margin-right: .75rem;
}
.layout1 .square-icon img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.layout1 .bookmark-holder{
	margin-left: .75rem;
}
.layout1 .item-details{
	display: flex;
	justify-content: space-between;
}
/* End Layout 1 ////////////////////////////////////////////////////////////////////////////// */

/* Layout 2 ////////////////////////////////////////////////////////////////////////////// */
.layout2 .list-item{
	padding: .5rem;
	display: flex;
	align-items: flex-start;
}
.layout2 .list-media-holder{
	border-radius: .25rem;
	overflow: hidden;
	flex-shrink: 0;
	margin-right: .75rem;
}
.layout2 .list-item-copy{
	display: flex;
	flex: auto;
}
.layout2 .copy-holder{
	flex: auto;
}
.layout2 .list-media-holder img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.layout2 .bookmark-holder{
	margin-left: .75rem;
	flex-shrink: 0;
}
.layout1 .item-details{
	display: flex;
	justify-content: space-between;
}
/* End Layout 2 ////////////////////////////////////////////////////////////////////////////// */

/* Layout 3 ////////////////////////////////////////////////////////////////////////////// */
.layout3 .items-grid{
	padding: .75rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: .75rem;
	grid-row-gap: .75rem;
	padding-bottom: 1.5rem;
}
@media (min-width: 540px){
	.layout3 .items-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
.layout3 .grid-item{
	overflow: hidden;
	background-color: rgba(150,150,150,.02);
	border-radius: .25rem;
	box-shadow: 0 2px 4px rgba(98, 98, 98, 0.3);
	cursor: pointer;
	display: flex;
	flex-direction: column;
}
.layout3 .grid-item .item-text{
	padding: 0 .5rem;
}
.layout3 .grid-item img{
	width: 100%;
}
.layout3 .grid-item-footer{
	display: flex;
	align-items: center;
	padding: 0 .5rem .5rem .5rem;
	margin-top: auto;
}
.layout3 .grid-item-footer .btn-icon{
	margin-left: auto;
	cursor: pointer;
}
/* End Layout 3 ////////////////////////////////////////////////////////////////////////////// */

/* Layout 4 ////////////////////////////////////////////////////////////////////////////// */
.layout4 .panel-heading{
	display: flex;
	align-items: center;
	padding: .25rem .5rem .25rem .75rem;
}
.layout4 .panel{
	border: 0;
	margin-bottom: 1rem;
	box-shadow: 0 2px 4px rgba(98, 98, 98, 0.3);
	cursor: pointer;
}
.layout4 .panels{
	padding: 1rem .75rem;
}
.layout4 .panel-body{
	padding: .75rem;
}
.layout4 .panel-heading .save-icon{
	margin-left: auto;
}
.layout4 .panel-heading .media{
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	border-radius: 50%;
	margin-right: .75rem;
	flex-shrink: 0;
}
.layout4 .item-footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* End Layout 4 ////////////////////////////////////////////////////////////////////////////// */

/* Start Item Detail ////////////////////////////////////////////////////////////////////////////// */
.coupon-item .item-actions{
	display: flex;
	align-items: center;
}
.coupon-item .item-actions img{
	margin-left: auto;
	margin-right: .75rem;
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
}
.coupon-item .item-actions .coupon-details{
	margin-right: auto;
}
/* End Item Detail ////////////////////////////////////////////////////////////////////////////// */

/* Start Saved Items ////////////////////////////////////////////////////////////////////////////// */
.saved-items-layout .list-item,
.map-items .list-item{
	display: flex;
	padding: .75rem .5rem .75rem .75rem;
	align-items: center;
}
.saved-items-layout .list-item .list-media-holder,
.map-items .list-item .list-media-holder{
	flex-shrink: 0;
	margin-right: .75rem;
	border-radius: .25rem;
	overflow: hidden;
	width: 4rem;
	height: 4rem;
}
.saved-items-layout .list-item .list-media-holder img,
.map-items .list-item .list-media-holder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.map-items .list-item-copy,
.saved-items-layout .list-item-copy{
	flex: auto;
}
.saved-items-layout .list-item .btn-icon,
.map-items .list-item .btn-icon{
	margin-left: .75rem;
	flex-shrink: 0;
}
.map-items.list-layout{
	padding: 1rem 0;
	max-height: 40vh;
	overflow-y: auto;
}
.map-layout .overlay-list{
	box-shadow: rgba(135, 135, 135, 0.2);
}
/* End Saved Items ////////////////////////////////////////////////////////////////////////////// */

/* Start Search Bar ////////////////////////////////////////////////////////////////////////////// */
.search-holder {
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.1);
	margin: .75em;
	display: flex;
	border-radius: .25rem;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 1.5rem);
	box-shadow: 0 0.05rem 0.25rem rgba(135, 135, 135, 0.2);
}
.search-holder input[type="text"]{
	background-color: rgba(150,150,150,.02);
	color: inherit !important;
}
.search-holder input[type="text"]::placeholder{
	color: inherit !important;
	opacity: .5;
}
.search-list{
	padding-top: 3.75rem;
}
.no-results{
	padding: 30vh 1rem;
}
.coupon .form-holder .clear-icon{
	position:absolute;
	right:.25rem;
	top:50%;
	transform: translateY(-50%);
	display:block;
	font-size:.75rem;
	padding: .25rem .75rem;
	cursor: pointer;
}
.coupon .form-holder .clear-icon:hover{
	background-color: rgba(150,150,150,.02);
}
.coupon .form-holder .form-control.border-none.has-clear{
	padding-right: 60px;
}
/* End Search Bar ////////////////////////////////////////////////////////////////////////////// */

/* Start Filters ////////////////////////////////////////////////////////////////////////////// */
.filters.search-list{
	max-width: 400px;
	margin: 0 auto;
}
.filters.search-list{
	padding-top: 3.75rem;
}
.filter .item .filter-content .checklist-item{
	padding: .75rem 1rem;
	font-size: 14px;
	cursor: pointer;
}
.filter .item .filter-content .checklist-item:hover{
	background-color: rgba(150,150,150,.02);
}
.filters.search-list h5{
	font-size: 12px !important;
}
/* End Filters ////////////////////////////////////////////////////////////////////////////// */

/* Link Items */
.link-list{
	padding-top:2px;
}
.link-list a + a{
	margin-left:10px;
}
/* List Items */
.list-items .list-item,
.list-layout .list-item{
	position:relative;
}
.list-items .list-item + .list-item{
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
.list-layout .list-item-media{

	left:0;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.now-playing:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background:#09a3ee;
}
.list-layout .list-item-media.edit{
	left:-100px;
}
.list-layout .list-item-media .remove-btn{
	position:absolute;
	top:0;
	right:-120px;
	padding:25px 0;
	width:100px;
	height:100%;
	color:#fff;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.edit .remove-btn{
	right:-100px;
}
.list-layout .list-item-media.edit .btns{
	right:58px;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
}
.list-layout.items-layout3 .list-item-media .list-media-holder img{
	max-height:100%;
}
.list-layout.layout-6 .list-item-media .list-media-holder{
	/*height:150px;*/
}
.list-layout.layout-6 .list-item-media .list-media-holder img{
	max-height:100%;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	position:relative;
}
.layout3 .list-layout .list-item-media{
	background:none;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder{
	line-height:70px;
}
.layout3 .list-layout .list-item-media .list-media-holder.square-icon{
	width:70px;
}
.layout3 .list-layout .list-item-media .list-media-holder img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	border-radius:2px;
}
.layout3 .list-layout .list-item-media .list-media-holder .main-icon{
	font-size:44px;
	position:relative;
	top:8px;
}
.holder .plugin-banner{
	position:relative;
	border-bottom:none !important;
}

/* Fixed Bottom */
.holder.has-bottom{
	padding-bottom:calc(env(safe-area-inset-bottom) + 38px) !important;
}
.holder.has-bottom.has-filter{
	padding-bottom:58px !important;
}
.holder.has-bottom.has-extra-links,
.holder.has-bottom.has-extra-links.has-filter{
	padding-bottom:88px !important;
}
.holder.has-bottom.has-extra-links.has-filter.map-layout{
	padding-bottom:0px !important;
}

.holder.has-bottom.has-filter .bottom .filterBar{
	display:block;
	position:absolute;
	top:-21px;
	left:0;
	width:100%;
	z-index:5;
}
.holder .bottom.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:9999;
	background:#fff;
}

html[safe-area="true"] .holder .bottom.fixed-bottom {
	padding-bottom: env(safe-area-inset-bottom) !important;
	padding-bottom: constant(safe-area-inset-bottom) !important;
}

.holder .bottom.fixed-bottom .primaryBackgroundTheme{
	background:#09a3ee;
}
.holder .bottom.fixed-bottom .defaultBackgroundTheme{
	background:#000;
}
.holder .bottom.fixed-bottom.has-content{
	bottom:-240px;
}
.holder .bottom.fixed-bottom.has-content.open{
	bottom:0;
}
.holder .bottom.fixed-bottom .hidden-content{
	height:240px;
	overflow-y:auto;
	overflow-x:hidden;
	background:#fff;
}
.holder .bottom.fixed-bottom .hidden-content .content{
	display:none;
}
.holder .bottom.fixed-bottom .hidden-content .content.active{
	display:block;
}
.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item,
.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item-copy{
	min-height:40px;
}
.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item-media .remove-btn{
	padding:16px 0;
}
.holder .bottom.fixed-bottom .hidden-content .form-holder{
	padding:0 8px;
}
.holder .bottom.fixed-bottom .hidden-content textarea{
	max-height:204px;
	height:204px;
	resize:none;
}
.holder .bottom div{
	padding:0;
}
.holder .bottom .padded{
	padding:15px;
}
.holder .bottom div a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:.75rem;
	font-size:14px;
	text-decoration:none;
	z-index:9;
}
.holder .bottom > .hidden-content{
	background:#fff;
}
.holder .bottom div a.active{
	font-weight:500;
}
.holder .bottom .extra-links a{
	position:absolute;
	top:-45px;
	left:10px;
	border-radius:100%;
	font-size:21px;
	padding:7px;
	text-align:center;
	height:35px;
	width:35px;
	/*z-index:13;*/
	opacity:0.8;
}
.holder .bottom .extra-links a .icon{
	color:#09a3ee;
}

/* Custom */
.coupon .list-item-copy p.small{
	font-size:11px;
	line-height:15px;
}
.coupon .form-holder .form-control.border-none{
	height:38px;
}
.coupon .list-item-copy p span.selected{
	font-weight:500;
}

.coupon .well p{
	font-size:13px;
}
/* Item Layouts 4-5 */
.item-block{
	position:relative;
	padding:1px !important;
}
.plugin-slide p.item-text{
	position:absolute;
	top:50%;
	margin-top:-10px;
	left:0;
	width:100%;
	padding:0 20px;
	font-size:16px;
	line-height:24px;
	color:#fff;
	z-index:7;
	-webkit-transform:translate3d(0,0,0);
}
.item-block .text-holder{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:7;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
.item-block .text-holder p.item-text{
	display:flex;
	align-self:center;
	color:#fff;
	padding:15px;
	/*text-shadow:1px 1px 3px #111;*/
	margin:0;
	-webkit-transform:translate3d(0,0,0);
}
.item-block img{
	height:auto;
	width:100%;
}
.blackLayer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:7;
	background:rgba(0,0,0, 0.35);
	-webkit-transform:translate3d(0,0,0);
}
.hasBackground .backgroundLayer{
	position:absolute;
	top:-9px;
	left:-7%;
	width:112%;
	height:112%;
	z-index:4;
	background-size:cover !important;
	background-position:center center !important;
	-o-filter:blur(8px);
	-moz-filter:blur(8px);
	-webkit-filter:blur(8px);
	filter:blur(8px);
}
.hasBackground .plugin-slide{
	position:relative;
	overflow:hidden;
}
.hasBackground .plugin-slide img{
	position:relative;
	z-index:6;
	width:674px !important;
}

/* Items Layout 3-4 */
.plugin-slide{
	text-align:center;
}
.plugin-slide .item-text p.item-date,
.layout4 .panel p.date{
	font-size:12px;
	font-style:italic;
}
.item-block img{
	height:auto;
	width:100%;
}
.items-layout3 .notes .plugin-slide,
.items-layout3 .notes .plugin-slide img{
	max-height:inherit;
}
.coupon.layout4 #carousel{
	padding-bottom:15px;
}


/* Layout 1-2 */
/* .coupon.layout3.valign .list-item-copy .copy-holder,
.coupon.layout2.valign .list-item-copy .copy-holder{
	position:absolute;
	top:50% !important;
	transform:translateY(-50%) !important;	
	width:95%;
	padding-left:75px;
} */
/* .coupon.layout2.valign .list-item-copy .copy-holder{
	padding-left:119px;
} */
.coupon.layout3.valign .list-item-copy .copy-holder.no-padding,
.coupon.layout2.valign .list-item-copy .copy-holder.no-padding{
	padding-left:0 !important;
}


/* Map Layout */
.map-layout .overlay-list{
	position:absolute;
	top:-245px;
	left:0;
	width:100%;
	background:#fff;
	transition:0.3s all ease-in-out;
	max-height: 50vh;
}
.map-layout .overlay-list.active{
	top:0;
}
.map-layout .layout3 .list-layout{
	max-height:245px;
	overflow-y:auto;	
}
.map-layout .layout3 .list-layout .list-item-media .list-media-holder{
	width:96px !important;
	margin:0 10px 0 0;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy{
	padding:0 !important;
	margin-top:-3px;
	/*min-height:inherit;*/
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder{
	position:relative;
	top:10px;
	padding-right:55px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p:first-child{
	font-size:14px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p{
	font-size:13px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p.small{
	font-size:12px;
}
.map-layout .layout3 .list-layout .list-item-media .list-item-copy .copy-holder p.small span.dot{
	position:relative;
	padding:2px;
	margin:2px 4px;
	border-radius:100%;
	display:inline-block;
	background:#5f5f5f;
}
.map-layout .layout3.coupon .list-item-copy .bookmark-holder{
	padding:7px 8px;
	border-radius:100%;
}
.map-layout .layout3.coupon .overlay-list .close-bar{
	position:absolute;
	bottom:0;
}

/* Coupon Item */
.coupon-item .intro p{
	line-height:17px;
}
.coupon-item .intro .col-xs-5{
	margin-top:4px;
}
.coupon-item .intro .col-xs-5 img{
	max-width:40px;
}
.coupon-item .intro .col-xs-5 .save-holder{
	padding:7px 8px;
	border-radius:100%;
	width:40px;
	height:40px;
}
.coupon-item .intro .col-xs-5 .save-holder span.icon{
	vertical-align:middle;
	font-size:20px;
}
.coupon-item .redeem-photo img{
	width:100%;
	max-width:400px;
}

/* Filter */
.filter .item span.icon.icon-chevron-down{
	font-size:12px;
	margin-left:5px;
	position:relative;
	top:1px;
	display:inline-block;
	font-weight:600;
	transition:0.3s all ease-in-out;
}
.filter .item.active span.icon.icon-chevron-down{
	transform:rotate(-180deg);
	-ms-transform:rotate(-180deg); 
	-webkit-transform:rotate(-180deg);
}
.filter .item .filter-content{
	height:0;
	opacity:0;
	overflow:none;
	transition:0.3s all ease-in-out;
}
.filter .item.active .filter-content{
	opacity:1;
	height:auto;
}
.filter .item .filter-content p{
	font-size:13px;
	position:relative;
}
.filter .item .filter-content p.text-primary:after{
	content:'\e60d';
	font-family: 'icomoon' !important;
  	position:absolute;
	right:15px;
	font-size:16px;
}
.filter .item .filter-content hr.small{
	margin:6px 0;
}
.filter .toggle-btns{
	border:1px solid rgba(155,155,155,.2);
}
.holder .toggle-btns a{
	padding:6px 8px 4px;
	font-size:12px;
	vertical-align:top;
	display:inline-block;
}
.holder .toggle-btns a.active{
	color:#fff;
}


.sticky-bottom-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*
* Removed border for modal pop up
*/

html[buildfire] .modal .modal-dialog {
    border: none !important;
}

/*
* Removed backdrop for modal pop up
*/

html[buildfire='widget'] .modal {
    background: none !important;
}

