<!DOCTYPE html>
<html ng-app="couponPluginWidget">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link href="../../../styles/helper.css" rel="stylesheet">
  <link href="../../../styles/siteIcons.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../scripts/owlCarousel/owlCarousel.css">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/slider.css" rel="stylesheet">

  <!-- JS -->
  <script src="../../../scripts/buildfire.js"></script>
  <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
  <script src="../../../scripts/smartcrop.js"></script>
  <script src="../../../scripts/angular/angular.min.js"></script>
  <script src="../../../scripts/angular/ui-bootstrap.min.js"></script>
  <script src="../../../scripts/owlCarousel/owlCarousel.js"></script>
  <script
      src="../../../scripts/buildfire/components/carousel/carousel.js"></script>
  <script src="../../../scripts/angular/ng-infinite-scroll.custom.js"
          type="application/javascript"></script>
  <script src="assets/js/slider.js"></script>
  <script src="assets/js/ngtimeago.js"></script>
  <script src="app.js"></script>
  <script src="enums.js"></script>
  <script src="app.services.js"></script>
  <script src="controllers/widget.master.controller.js"></script>
  <script src="controllers/widget.home.controller.js"></script>
  <script src="controllers/widget.map.controller.js"></script>
  <script src="controllers/widget.filter.controller.js"></script>
  <script src="controllers/widget.saved.controller.js"></script>
  <script src="controllers/widget.item.controller.js"></script>
  <script
      src="https://maps.google.com/maps/api/js?v=3.exp&sensor=true&libraries=places&key=AIzaSyCRWyvs4UfQ9qjen_smzLFmpVqsjqTYdFI"></script>
  <script src="assets/js/markerClusterer.js"></script>

  <script src="../../../scripts/angular/angular-animate.min.js"></script>
  <link rel="stylesheet" href="../../../styles/transitionAnimation.css">

</head>
<body class="no-scroll holder padding-zero has-bottom">
<div ng-controller="WidgetMasterCtrl as WidgetMaster" class="slide content">
  <div
      ng-if="WidgetMaster.data.settings.defaultView == 'list' && WidgetMaster.data.design.itemListLayout"
      ng-include="'templates/' +  WidgetMaster.data.design.itemListLayout + '.html'"></div>
  <div ng-if="WidgetMaster.data.settings.defaultView == 'map'"
       ng-include="'templates/Map.html'">
  </div>
</div>
<div view-switcher=""></div>
</body>
</html>