<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix"
     ng-controller="WidgetFilterCtrl as WidgetFilter">
  <div class="scrollable">
    <div class="coupon filter layout3">
      <div class="form-holder">
        <input type="text" class="border-none form-control bodyTextTheme has-clear" placeholder="Enter keywords or phrase" ng-model="WidgetFilter.filter.text">
        <span class="clear-icon text-danger" ng-if="WidgetFilter.filter.text" ng-click="WidgetFilter.filter.text=''">Clear</span>
        <hr class="small margin-zero">
      </div>
      <div class="filters margin-top-ten">
        <div class="item active distance">
          <div class="clearfix">
            <div class="col-xs-12 pull-left text-left">
              <span>Distance</span>
            </div>
          </div>
          <div class="filter-content distance">
            <rzslider ng-if="WidgetFilter.distanceSlider" rz-slider-tpl-url="templates/Slider-Template.html"
                      rz-slider-floor="WidgetFilter.distanceSlider.floor"
                      rz-slider-ceil="WidgetFilter.distanceSlider.ceil"
                      rz-slider-model="WidgetFilter.distanceSlider.min"
                      rz-slider-high="WidgetFilter.distanceSlider.max"
                      rz-slider-step="5"
                      data-ciel-label="{{WidgetFilter.data.settings.distanceIn}}"
                      rz-slider-on-change="WidgetFilter.setFilter()"
                      rz-slider-hide-limit-labels="true"></rzslider>
          </div>
        </div>
        <hr class="small">
        <div class="item active sorting">
          <div class="clearfix">
            <div class="col-xs-12 pull-left text-left">
              <span>Sorting Options</span>
            </div>
          </div>
          <div class="filter-content">
            <div class="toggle-btns border-radius-four overflow-hidden">
              <div ng-click="WidgetFilter.filter.sortOnClosest = false"
                   class="col-xs-6 padding-zero text-center"
                   ng-class="WidgetFilter.filter.sortOnClosest ? '' : 'primaryBackgroundTheme'">
                <a ng-class="WidgetFilter.filter.sortOnClosest ? '' : 'whiteTheme'">Default</a>
              </div>
              <div ng-hide="WidgetFilter.locationData.currentCoordinates == null"
                   ng-class="!WidgetFilter.filter.sortOnClosest ? '' : 'primaryBackgroundTheme'"
                   ng-class="WidgetFilter.filter.sortOnClosest ? '' : 'active'"
                   ng-click="WidgetFilter.filter.sortOnClosest = true" class="col-xs-6 padding-zero text-center">
                <a ng-class="WidgetFilter.filter.sortOnClosest ? 'whiteTheme' : ''">Closest to Me</a>
              </div>
              <div ng-show="WidgetFilter.locationData.currentCoordinates == null"
                   class="col-xs-6 padding-zero text-center">
                <a class="opacity-forty" ng-class="WidgetFilter.filter.sortOnClosest ? 'active' : ''">Closest to
                  Me</a>
              </div>
            </div>
            <p class="location-share-msg margin-bottom-five margin-top-five"
               ng-if="WidgetFilter.locationData.currentCoordinates == null">
              Enable Location sharing to activate Closest to Me.
            </p>
          </div>
        </div>
        <hr class="small">
        <div class="item active" ng-if="WidgetFilter.categories.length">
          <div class="clearfix">
            <div class="col-xs-12 pull-left text-left">
              <span>Categories</span>
            </div>
          </div>
          <div class="filter-content">
            <hr class="small">
            <p class="margin-zero"
               ng-class="WidgetFilter.allSelected?'text-primary':''"
               ng-click="WidgetFilter.setCategories('ALL', true)">All
              Items</p>
            <span ng-repeat="category in WidgetFilter.categories">
            <hr class="small">
						<p class="margin-zero" ng-class="category.isSelected?'text-primary':''"
               ng-click="WidgetFilter.setCategories(category, false, $index)">{{category.data.title}}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom fixed-bottom">
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetFilter.back()">Cancel</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active" ng-click="WidgetFilter.applyFilter()">
        Apply</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetFilter.resetFilters()">
        Reset</a>
    </div>
  </div>
</div>
