<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix" ng-controller="WidgetHomeCtrl as WidgetHome" >
	<div class="scrollable infinite-scroll-parent">
		<div class="coupon layout2 layout3 valign">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="padded" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
        <p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
      </div>
			<div class="list-layout" ng-if="WidgetHome.data.content" infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-distance="1"
           data-infinite-container=".infinite-scroll-parent"
           infinite-scroll-disabled="WidgetHome.busy">
				<div class="list-item" ng-repeat="item in WidgetHome.items">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder pull-left" ng-if="item.data.listImage">
							<img load-image="16x9" crop-width="120" crop-height="70" crop-type="crop" data-final-src="{{item.data.listImage}}">
						</div>
						<div class="list-item-copy text-left padding-left-five padding-right-ten">
							<div class="copy-holder" ng-click="WidgetHome.openDetails(item.id)" ng-class="item.data.listImage?'':'no-padding'">
								<p class="ellipsis margin-zero text-primary">
                  					{{item.data.title}}
								</p>
								<p class="ellipsis margin-zero bodyTextTheme">
                  					{{item.data.summary}}
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                    <i ng-if="item.data.expiresOn">Expires {{item.data.expiresOn | date}}</i>
                                    <i ng-if="!item.data.expiresOn">No expiration date</i>
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
									<i>{{item.data.distanceText}}</i>
								</p>
							</div>
							<div class="bookmark-holder">
								<span class="icon icon-star text-primary" ng-if="item.isSaved" ng-click="WidgetHome.removeFromSavedItems(item,$index)"></span>
                 				<span class="icon icon-star-empty text-default" ng-if="!item.isSaved" ng-click="WidgetHome.addToSavedItems(item,$index)"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <!-- The default bottom sticky menu -->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.mapView == 'show' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved
      </a>
    </div>
  </div>

  <!-- If map is hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.mapView == 'hide' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>

  <!-- If filter is hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>

  <!-- If both  filter and map are hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'hide'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>
</div>
