<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix" ng-controller="WidgetHomeCtrl as WidgetHome" >
  <div class="scrollable infinite-scroll-parent">
    <div class="coupon layout4">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="padded padding-bottom-five"
           ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
        <p class="margin-zero"
           ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
      </div>
      <div class="panels" ng-if="WidgetHome.data.content"
           infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-distance="1"
           data-infinite-container=".infinite-scroll-parent"
           infinite-scroll-disabled="WidgetHome.busy">
        <div class="panel backgroundColorTheme" ng-repeat="item in WidgetHome.items">
          <div class="panel-heading bg-primary primaryBackgroundTheme clearfix">
            <div class="media pull-left" ng-if="item.data.listImage" ng-click="WidgetHome.openDetails(item.id)">
              <img load-image="1x1" crop-width="60" crop-height="60" crop-type="crop" data-final-src="{{item.data.listImage}}">
            </div>
            <p class="ellipsis margin-zero whiteTheme" ng-click="WidgetHome.openDetails(item.id)">{{item.data.title}}</p>
            <div class="save-icon">
				<span class="icon icon-star whiteTheme" ng-if="item.isSaved" ng-click="WidgetHome.removeFromSavedItems(item,$index)"></span>
              	<span class="icon icon-star-empty whiteTheme" ng-if="!item.isSaved" ng-click="WidgetHome.addToSavedItems(item,$index)"></span>
            </div>
          </div>
          <div class="panel-body border-grey" ng-click="WidgetHome.openDetails(item.id)">
            <p ng-click="WidgetHome.openDetails(item.id)">{{item.data.summary}}</p>
            <div class="item clearfix row" ng-click="WidgetHome.openDetails(item.id)">
              <div class="col-xs-7 pull-left text-left">
                <p ng-if="item.data.expiresOn" class="date ellipsis margin-zero">Expires
                  {{item.data.expiresOn | date}}</p>
                <p ng-if="!item.data.expiresOn" class="date ellipsis margin-zero">No expiration date</p>
              </div>
              <div class="col-xs-5 pull-right text-right">
                <p class="date margin-zero">{{item.data.distanceText}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The default bottom sticky menu -->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.mapView == 'show' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved
      </a>
    </div>
  </div>

  <!-- If map is hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.mapView == 'hide' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>

  <!-- If filter is hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>

  <!-- If both  filter and map are hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'hide'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>
</div>
