<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix">
  <div class="scrollable">
    <div class="coupon layout3">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="padded">
        <p class="margin-zero">this is a wysiwyg. this is a wysiwyg. this is a wysiwyg.</p>
      </div>
      <div class="list-layout">
        <div class="list-item">
          <div class="list-item-media text-left overflow-hidden">
            <div class="square-icon list-media-holder pull-left">
              <img src="../../../styles/media/holder-1x1.png">
            </div>
            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
              <div class="copy-holder">
                <p class="ellipsis margin-zero text-primary margin-top-five">
                  Free Entree
                </p>
                <p class="ellipsis margin-zero bodyTextTheme">
                  With purchase of equal or less value
                </p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>Expires March 21, 2016</i>
                </p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>21 miles away</i>
                </p>
              </div>
              <div class="bookmark-holder">
                <span class="icon icon-star text-primary"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-media text-left overflow-hidden">
            <div class="square-icon list-media-holder pull-left">
              <img src="../../../styles/media/holder-1x1.png">
            </div>
            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
              <div class="copy-holder">
                <p class="ellipsis margin-zero text-primary margin-top-five">
                  Free Entree
                </p>
                <p class="ellipsis margin-zero bodyTextTheme">
                  With purchase of equal or less value
                </p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>21 miles away</i>
                </p>
              </div>
              <div class="bookmark-holder">
                <span class="icon icon-star-empty text-default"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-media text-left overflow-hidden">
            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
              <div class="copy-holder">
                <p class="ellipsis margin-zero text-primary margin-top-five">
                  Free Entree
                </p>
                <p class="ellipsis margin-zero bodyTextTheme">
                  With purchase of equal or less value
                </p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>Expires March 21, 2016</i>
                </p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>21 miles away</i>
                </p>
              </div>
              <div class="bookmark-holder">
                <span class="icon icon-star-empty text-default"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-media text-left overflow-hidden">
            <div class="square-icon list-media-holder pull-left">
              <img src="../../../styles/media/holder-1x1.png">
            </div>
            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
              <div class="copy-holder">
                <p class="ellipsis margin-zero text-primary margin-top-five">
                  Free Entree
                </p>
                <p class="ellipsis margin-zero bodyTextTheme">
                  With purchase of equal or less value
                </p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>21 miles away</i>
                </p>
              </div>
              <div class="bookmark-holder">
                <span class="icon icon-star-empty text-default"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- If map is shown, use col-xs-3 like below -->
  <div class="bottom fixed-bottom">
    <div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch">Map</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch">Filter</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch">Saved</a>
    </div>
  </div>

  <!-- If map is hidden, use col-xs-4 like below
  <div class="bottom fixed-bottom">
    <div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch">Filter</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch">Saved</a>
    </div>
  </div>
  -->
</div>

