<div class="holder load-in padding-zero has-bottom sticky-bottom-menu clearfix" ng-class="WidgetHome.isFilterApplied?'has-filter':''" ng-controller="WidgetHomeCtrl as WidgetHome" >
  <div class="scrollable infinite-scroll-parent">
    <div class="coupon layout4">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="description main-header word-break"
           ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
        <p class="margin-zero"
           ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
      </div>

      <div class="panels infinite-scroll-container" ng-if="WidgetHome.data.content"
           infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-distance="1"
           data-infinite-container=".infinite-scroll-parent"
           infinite-scroll-disabled="WidgetHome.busy">

        <div class="panel backgroundColorTheme" ng-repeat="item in WidgetHome.items" ng-click="WidgetHome.openDetails(item.id)">
          <div class="panel-heading bg-primary primaryBackgroundTheme">
            <div class="media" ng-if="item.data.listImage" ng-click="WidgetHome.openDetails(item.id)">
              <img load-image="1x1" crop-width="60" crop-height="60" crop-type="crop" data-final-src="{{item.data.listImage}}">
            </div>
            <h5 class="ellipsis margin-zero whiteTheme">{{item.data.title}}</h5>
            <div class="save-icon" ng-if="WidgetHome.currentLoggedInUser">
				        <span class="btn-icon glyphicon glyphicon-star whiteTheme" ng-if="item.isSaved" ng-click="WidgetHome.removeFromSavedItems(item,$index); $event.stopPropagation();"></span>
              	<span class="btn-icon glyphicon glyphicon-star-empty whiteTheme" ng-if="!item.isSaved" ng-click="WidgetHome.addToSavedItems(item,$index); $event.stopPropagation();"></span>
            </div>
          </div>
          <div class="panel-body word-break" ng-click="WidgetHome.openDetails(item.id)">
            <p ng-click="WidgetHome.openDetails(item.id)">{{item.data.summary}}</p>
            <div class="item item-footer" ng-click="WidgetHome.openDetails(item.id)">
              <div class="">
                <p ng-if="item.data.expiresOn" class="date ellipsis caption margin-zero">{{getString('general.expires')}}
                  {{item.data.expiresOn | date}}</p>
                <p ng-if="!item.data.expiresOn" class="date ellipsis margin-zero">{{getString('general.noExpirationDate')}}</p>
              </div>

              <div class="">
                <p class="date margin-zero caption">{{item.data.distanceText}}</p>
              </div>
            </div>
            <div class="" ng-click="WidgetHome.openDetails(item.id)">
            <div class="layout4 redeemedView">
              <p ng-if="item.redeemedOn"  class="date margin-zero caption redeemedSpace">{{getString('general.redeemed')}} <p ng-if="item.redeemedOn" class="date margin-zero caption layout4-caption-date caption-date ">{{item.redeemedOn  | date:"MMM dd, yyyy 'at' h:mma" | lowercase}}</p></p>
            </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- The default bottom sticky menu -->
  <div class="bottom fixed-bottom" ng-class="WidgetHome.navbarEnabled ? '' : 'primaryBackgroundTheme'"
       ng-if="WidgetHome.data.settings.mapView == 'show' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">{{getString('navigation.filterApplied')}}</span>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">{{getString('navigation.list')}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">{{getString('navigation.map')}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">{{getString('navigation.category')}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">{{getString('navigation.saved')}}
      </a>
    </div>
  </div>

  <!-- If map is hidden-->
  <div class="bottom fixed-bottom" ng-class="WidgetHome.navbarEnabled ? '' : 'primaryBackgroundTheme'"
       ng-if="WidgetHome.data.settings.mapView == 'hide' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">{{getString('navigation.filterApplied')}}</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">{{getString('navigation.list')}}</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">{{getString('categories.filter')}}</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">{{getString('navigation.saved')}}</a>
    </div>
  </div>

  <!-- If filter is hidden-->
  <div class="bottom fixed-bottom" ng-class="WidgetHome.navbarEnabled ? '' : 'primaryBackgroundTheme'"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">{{getString('navigation.filterApplied')}}</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">{{getString('navigation.list')}}</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">{{getString('navigation.map')}}</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">{{getString('navigation.saved')}}</a>
    </div>
  </div>

  <!-- If both  filter and map are hidden-->
  <div class="bottom fixed-bottom" ng-class="WidgetHome.navbarEnabled ? '' : 'primaryBackgroundTheme'"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'hide'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">{{getString('navigation.filterApplied')}}</span>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">{{getString('navigation.list')}}</a>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">{{getString('navigation.saved')}}</a>
    </div>
  </div>
</div>
