<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix">
  <div class="scrollable infinite-scroll-parent">
    <div class="coupon layout3">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="padded" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
        <p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
      </div>
      <div class="list-layout" ng-if="WidgetHome.data.content" infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-distance="1"
           data-infinite-container=".infinite-scroll-parent"
           infinite-scroll-disabled="WidgetHome.busy">
        <div class="list-item" ng-repeat="item in WidgetHome.items">
          <div class="list-item-media text-left overflow-hidden">
            <div class="square-icon list-media-holder pull-left" ng-if="item.data.listImage">
              <img load-image="1x1" data-final-src="{{item.data.listImage |
                       getImageUrl : 60:60}}">
            </div>
            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
              <div class="copy-holder" ng-click="WidgetHome.openDetails(item.id)">
                <p class="ellipsis margin-zero text-primary margin-top-five">
                  {{item.data.title}}
                </p>
                <p class="ellipsis margin-zero bodyTextTheme">
                 {{item.data.summary}}
                </p>
                <p
                    class="small ellipsis margin-zero bodyTextTheme opacity-seventy" ng-if="item.data.expiresOn">
                  <i>Expires {{item.data.expiresOn | date}}</i>
                </p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>{{item.data.distanceText}}</i>
                </p>
              </div>
              <div class="bookmark-holder">
                <span class="icon icon-star text-primary"></span>
                <!-- <span class="icon icon-star-empty text-default"></span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- If map is shown, use col-xs-3 like below -->
  <div class="bottom fixed-bottom">
    <div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved
      </a>
    </div>
  </div>

  <!-- If map is hidden, use col-xs-4 like below
  <div class="bottom fixed-bottom">
    <div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch">Filter</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch">Saved</a>
    </div>
  </div>
  -->
</div>

