
<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix">
	<div class="scrollable">
		<div class="coupon layout4">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="padded" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
        <p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
      </div>
			<div class="panels" ng-if="WidgetHome.data.content">
				<div class="panel">
				  	<div class="panel-heading bg-primary primaryBackgroundTheme clearfix">
						<div class="media pull-left">
							<img src="../../../styles/media/holder-1x1.png">
						</div>
				    	<p class="ellipsis margin-zero">Coupon Title Goes Here</p>
						<div class="save-icon">
							<span class="icon icon-star whiteTheme"></span>
						</div>
				  	</div>
				  	<div class="panel-body border-grey">
						<p>Coupon description goes here and wraps around if there is a lot of text.</p>
						<div class="save-icon">
							<!-- Use this when saved/active -->
							<span class="icon icon-star whiteTheme"></span>
						</div>
						<div class="item clearfix row">
							<div class="col-xs-7 pull-left text-left">
								<p class="date ellipsis margin-zero">Expires March 21, 2016</p>
							</div>
							<div class="col-xs-5 pull-right text-right">
								<p class="date margin-zero">21 miles away</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
				  	<div class="panel-heading bg-primary primaryBackgroundTheme clearfix">
				    	<p class="ellipsis margin-zero">Coupon Title Goes Here</p>
						<div class="save-icon">
							<!-- Use this when notsaved/inactive -->
							<span class="icon icon-star-empty whiteTheme"></span>
						</div>
				  	</div>
				  	<div class="panel-body border-grey">
						<div class="item clearfix row">
							<div class="col-xs-7 pull-left text-left">
								<p class="date ellipsis margin-zero">Expires March 21, 2016</p>
							</div>
							<div class="col-xs-5 pull-right text-right">
								<p class="date margin-zero">21 miles away</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
				  	<div class="panel-heading bg-primary primaryBackgroundTheme clearfix">
						<div class="media pull-left">
							<img src="../../../styles/media/holder-1x1.png">
						</div>
				    	<p class="ellipsis margin-zero">Coupon Title Goes Here</p>
						<div class="save-icon">
							<span class="icon icon-star-empty whiteTheme"></span>
						</div>
				  	</div>
				  	<div class="panel-body border-grey">
						<div class="item clearfix row">
							<div class="col-xs-7 pull-left text-left">
								<p class="date ellipsis margin-zero">Expires March 21, 2016</p>
							</div>
							<div class="col-xs-5 pull-right text-right">
								<p class="date margin-zero">21 miles away</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
				  	<div class="panel-heading bg-primary primaryBackgroundTheme clearfix">
						<div class="media pull-left">
							<img src="../../../styles/media/holder-1x1.png">
						</div>
				    	<p class="ellipsis margin-zero">Coupon Title Goes Here</p>
						<div class="save-icon">
							<span class="icon icon-star-empty whiteTheme"></span>
						</div>
				  	</div>
				  	<div class="panel-body border-grey">
						<p>Coupon description goes here and wraps around if there is a lot of text.</p>
						<div class="item clearfix row">
							<div class="col-xs-7 pull-left text-left">
								<p class="date ellipsis margin-zero">Expires March 21, 2016</p>
							</div>
							<div class="col-xs-5 pull-right text-right">
								<p class="date margin-zero">21 miles away</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- If map is shown, use col-xs-3 like below -->
	<div class="bottom fixed-bottom">
		<div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
			<span class="whiteTheme small">Filter Applied</span>
		</div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved
      </a>
    </div>
	</div>
	
	<!-- If map is hidden, use col-xs-4 like below 
	<div class="bottom fixed-bottom">
		<div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
			<span class="whiteTheme small">Filter Applied</span>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch active">List</a>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Filter</a>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Saved</a>
		</div>
	</div>
	-->
</div>
