
<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix" ng-controller="WidgetHomeCtrl as WidgetHome" >
	<div class="scrollable infinite-scroll-parent">
		<div class="coupon items-layout3">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="padded" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
        <p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
      </div>
			<div class="notes" ng-if="WidgetHome.data.content" infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-distance="1"
           data-infinite-container=".infinite-scroll-parent"
           infinite-scroll-disabled="WidgetHome.busy">
				<div
            class="plugin-banner col-xs-6 pull-left overflow-hidden padding-zero" ng-repeat="item in WidgetHome.items">
					<div class="plugin-slide border-grey border-radius-four">
						<img ng-if="!item.data.listImage"
                 src="../../../styles/media/holder-16x9.png" ng-click="WidgetHome.openDetails(item.id)">
						<img ng-if="item.data.listImage" load-image="16x9" crop-width="147" crop-height="83" crop-type="crop"
                 data-final-src="{{item.data.listImage}}" ng-click="WidgetHome.openDetails(item.id)">
						<div class="item-text" ng-click="WidgetHome.openDetails(item.id)">
							<p class="item-title margin-zero text-center text-primary primaryTheme ellipsis">{{item.data.title}}</p>
							<p class="item-summary margin-zero text-center ellipsis"> {{item.data.summary}}</p>
							<p class="item-date margin-zero text-center" ng-if="item.data.expiresOn">Expires {{item.data.expiresOn | date}}</p>
							<p class="item-date margin-zero text-center" ng-if="!item.data.expiresOn">No expiration date</p>
							<p class="item-date margin-zero text-center">{{item.data.distanceText}}</p>
							
							<!-- If summary, expires, or distance are empty, show these -->
							<p class="item-summary margin-zero text-center ellipsis" ng-hide="item.data.summary">&nbsp;</p>
							<p class="item-date margin-zero text-center" ng-hide="item.data.distanceText">&nbsp;</p>
						</div>
						<!-- Use these theme classes when active/selected -->
						<span class="icon icon-star text-primary primaryTheme" ng-if="item.isSaved"
                  ng-click="WidgetHome.removeFromSavedItems(item,$index)"></span>
             <span class="icon icon-star-empty text-default" ng-if="!item.isSaved"
                   ng-click="WidgetHome.addToSavedItems(item,$index)"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
  <!-- The default bottom sticky menu -->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.mapView == 'show' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved
      </a>
    </div>
  </div>

  <!-- If map is hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.mapView == 'hide' && WidgetHome.data.settings.filterPage == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>

  <!-- If filter is hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'show'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>

  <!-- If both  filter and map are hidden-->
  <div class="bottom fixed-bottom"
       ng-if="WidgetHome.data.settings.filterPage == 'hide' && WidgetHome.data.settings.mapView == 'hide'">
    <div
        class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetHome.isFilterApplied">
      <span class="whiteTheme small">Filter Applied</span>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved</a>
    </div>
  </div>
</div>
