
<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix">
	<div class="scrollable infinite-scroll-parent">
		<div class="coupon items-layout3">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
      <div class="padded" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
        <p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
      </div>
			<div class="notes" ng-if="WidgetHome.data.content" infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-distance="1"
           data-infinite-container=".infinite-scroll-parent"
           infinite-scroll-disabled="WidgetHome.busy">
				<div
            class="plugin-banner col-xs-6 pull-left overflow-hidden padding-zero" ng-repeat="item in WidgetHome.items">
					<div class="plugin-slide border-grey border-radius-four">
						<img ng-if="!item.data.listImage"
                 src="../../../styles/media/holder-16x9.png">
						<img ng-if="item.data.listImage" load-image="16x9"
                 data-final-src="{{item.data.listImage | getImageUrl : 147:83}}">
						<div class="item-text">
							<p class="item-title margin-zero text-center text-primary primaryTheme ellipsis">{{item.data.title}}</p>
							<p class="item-summary margin-zero text-center ellipsis"> {{item.data.summary}}</p>
							<p class="item-date margin-zero text-center">Expires {{item.data.expiresOn | date}}</p>
							<p class="item-date margin-zero text-center">21 miles away</p>
						</div>
						<!-- Use these theme classes when active/selected -->
						<span class="icon icon-star text-primary primaryTheme"></span>
            <!-- <span class="icon icon-star-empty text-default"></span>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- If map is shown, use col-xs-3 like below -->
	<div class="bottom fixed-bottom">
		<div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
			<span class="whiteTheme small">Filter Applied</span>
		</div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch active">List</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showMapView()">Map</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showFilter()">Filter</a>
    </div>
    <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
      <a class="whiteTheme stretch" ng-click="WidgetHome.showSavedItems()">Saved
      </a>
    </div>
	</div>
	
	<!-- If map is hidden, use col-xs-4 like below 
	<div class="bottom fixed-bottom">
		<div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
			<span class="whiteTheme small">Filter Applied</span>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch active">List</a>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Filter</a>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Saved</a>
		</div>
	</div>
	-->
</div>
