<div
    class="no-scroll holder padding-zero has-bottom has-extra-links has-filter map-layout sticky-bottom-menu"
    ng-controller="WidgetMapCtrl as WidgetMap">
  <div class="scrollable">
    <div class="google-map" style="height:100%; background:#eef0f0;"
         ng-if="WidgetMap.data && WidgetMap.locationData.items && WidgetMap.allItemsFormatted">
      <div google-map class="google-map-fix" style="height:100%;"
           location-data="WidgetMap.locationData"
           marker-callback="WidgetMap.selectedMarker"
           refresh-data="WidgetMap.refreshData"></div>
    </div>
    <div class="overlay-list coupon backgroundColorTheme" ng-class="WidgetMap.selectedItem? 'active' : ''">
      <div class="list-layout map-items" ng-if="WidgetMap.selectedItem.multiCoupons">
        <div class="list-item" ng-repeat="coupon in WidgetMap.selectedItem.couponContained">

            <div class="square-icon list-media-holder" ng-if="coupon.data.listImage">
              <img load-image="4x3" crop-width="96" crop-height="72" crop-type="crop" data-final-src="{{coupon.data.listImage}}" ng-click="WidgetMap.openDetailsPage(coupon)">
            </div>

            <div class="list-item-copy text-left ellipsis">
              <div class="copy-holder" ng-click="WidgetMap.openDetailsPage(coupon)">
                <h5 class="ellipsis margin-zero">{{coupon.data.title}}</h5>
                <p class="ellipsis margin-zero bodyTextTheme">{{coupon.data.summary}}</p>
                <p class="ellipsis margin-zero bodyTextTheme" ng-hide="coupon.data.summary">
                  &nbsp;
                </p>
                <p class="caption ellipsis margin-zero">
                  <i><span ng-if="coupon.data.expiresOn">Exp. {{coupon.data.expiresOn |
                    date}} </span>
                    <span
                      class="dot bodyTextBackgroundTheme"></span>{{WidgetMap.selectedItemDistance}}</i>
                </p>
                <p class="ellipsis caption margin-zero bodyTextTheme">{{getRedeemedDateText(coupon)}}</p>
              </div>
            </div>
            <div class="bookmark-holder"
                 ng-if="WidgetMap.currentLoggedInUser"
                 ng-click="WidgetMap.addRemoveSavedItem(coupon, true, $index)">
              <span
                    ng-class="coupon.isSaved?'btn-icon glyphicon glyphicon-star whiteTheme primaryBackgroundTheme':'btn-icon glyphicon glyphicon-star-empty'"></span>
            </div>
        </div>
      </div>
      <div class="list-layout map-items" ng-if="!WidgetMap.selectedItem.multiCoupons">
        <div class="list-item">

          <div class="square-icon list-media-holder" ng-if="WidgetMap.selectedItem.data.listImage">
            <img load-image="4x3" crop-width="96" crop-height="72" crop-type="crop" data-final-src="{{WidgetMap.selectedItem.data.listImage}}">
          </div>

          <div class="list-item-copy ellipsis">
            <div class="copy-holder" ng-click="WidgetMap.openDetailsPage(WidgetMap.selectedItem)">
              <h5 class="ellipsis margin-zero">{{WidgetMap.selectedItem.data.title}}</h5>
              <p class="ellipsis margin-zero bodyTextTheme">{{WidgetMap.selectedItem.data.summary}}</p>
              <p class="ellipsis margin-zero bodyTextTheme" ng-hide="WidgetMap.selectedItem.data.summary">&nbsp;</p>
              <p class="caption ellipsis margin-zero bodyTextTheme">
                <i><span ng-if="WidgetMap.selectedItem.data.expiresOn">Exp. {{WidgetMap.selectedItem.data.expiresOn |
                  date}} </span>
                  <span class="dot bodyTextBackgroundTheme"></span>{{WidgetMap.selectedItemDistance}}</i>
              </p>
              <p ng-if="WidgetMap.selectedItem.redeemedOn"  class="ellipsis margin-zero caption bodyTextTheme">
                Redeemed {{WidgetMap.selectedItem.redeemedOn | date:"MMM dd, yyyy 'at' h:mma" | lowercase}}
              </p>
            </div>
          </div>
          <div class="bookmark-holder btn-icon primaryBackgroundTheme"
                ng-if="WidgetMap.currentLoggedInUser"
                ng-click="WidgetMap.addRemoveSavedItem(WidgetMap.selectedItem)">
            <span 
                ng-class="WidgetMap.selectedItem.isSaved?'btn-icon glyphicon glyphicon-star whiteTheme primaryBackgroundTheme':'btn-icon glyphicon glyphicon-star-empty'"></span>
          </div>
        </div>
      </div>
      <div class="close-bar bg-primary primaryBackgroundTheme" ng-click="WidgetMap.closeCouponList()">
        <p class="whiteTheme stretch text-center margin-zero small">Close</p>
      </div>
    </div>
  </div>
  <div class="bottom fixed-bottom primaryBackgroundTheme">
    <div class="extra-links">
      <a class="primaryBackgroundTheme" ng-click="WidgetMap.refreshLocation()">
        <span class="icon icon-aim whiteTheme"></span>
      </a>
    </div>
    <!-- The default bottom sticky menu -->
    <div
        ng-if="WidgetMap.data.settings.mapView == 'show' && WidgetMap.data.settings.filterPage == 'show'">
      <div
          class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetMap.isFilterApplied">
        <span class="whiteTheme small">Filter Applied</span>
      </div>
      <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showListItems()">List</a>
      </div>
      <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch active">Map</a>
      </div>
      <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch"
           ng-click="WidgetMap.showFilter()">Category</a>
      </div>
      <div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showSavedItems()">Saved
        </a>
      </div>
    </div>

    <!-- If map is hidden-->
    <div
        ng-if="WidgetMap.data.settings.mapView == 'hide' && WidgetMap.data.settings.filterPage == 'show'">
      <div
          class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetMap.isFilterApplied">
        <span class="whiteTheme small">Filter Applied</span>
      </div>
      <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showListItems()">List</a>
      </div>
      <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch"
           ng-click="WidgetMap.showFilter()">Category</a>
      </div>
      <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showSavedItems()">Saved</a>
      </div>
    </div>

    <!-- If filter is hidden-->
    <div
        ng-if="WidgetMap.data.settings.filterPage == 'hide' && WidgetMap.data.settings.mapView == 'show'">
      <div
          class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetMap.isFilterApplied">
        <span class="whiteTheme small">Filter Applied</span>
      </div>
      <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showListItems()">List</a>
      </div>
      <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch active">Map</a>
      </div>
      <div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showSavedItems()">Saved</a>
      </div>
    </div>

    <!-- If both  filter and map are hidden-->
    <div
        ng-if="WidgetMap.data.settings.filterPage == 'hide' && WidgetMap.data.settings.mapView == 'hide'">
      <div
          class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme" ng-if="WidgetMap.isFilterApplied">
        <span class="whiteTheme small">Filter Applied</span>
      </div>
      <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showListItems()">List</a>
      </div>
      <div class="col-xs-6 pull-left text-center primaryBackgroundTheme">
        <a class="whiteTheme stretch" ng-click="WidgetMap.showSavedItems()">Saved</a>
      </div>
    </div>
  </div>
</div>
