<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<!-- CSS -->
	<link href="../../../../styles/helper.css" rel="stylesheet">
	<link href="../../../../styles/siteIcons.css" rel="stylesheet">
	<link href="assets/style.css" rel="stylesheet">
	
	<!-- JS -->
	<script src="../../../scripts/buildfire.js"></script>
   
 	<!--
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>

    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    -->
</head>
<body class="no-scroll holder padding-zero has-bottom">
	<div class="scrollable">
		<div class="coupon filter layout3">
	  		<div class="form-holder">
			  	<input type="text" class="border-none form-control bodyTextTheme" placeholder="Enter keywords or phrase">	
				<span class="clear-icon dangerBackgroundTheme"></span>
		     	<hr class="small margin-zero">
			</div>
			<div class="well well-sm text-center margin-top-twenty margin-left-ten margin-right-ten hidden">
				<p class="margin-top-ten">No search results found.</p>
			</div>
			<div class="filters margin-top-ten">
				<div class="item active distance">
					<div class="clearfix">
						<div class="col-xs-5 pull-left text-left">
							<span>Distance</span>
						</div>
						<div class="col-xs-7 pull-right text-right">
							<p class="margin-zero text-primary">
								<span>Over 10 miles</span>
								<span class="icon icon-chevron-down"></span>
							</p>
						</div>
					</div>
					<div class="filter-content">
						<hr class="small">
						<p class="margin-zero">No Min</p>
						<hr class="small">
						<p class="margin-zero text-primary">5 miles</p>
						<hr class="small">
						<p class="margin-zero">25 miles</p>
						<hr class="small">
						<p class="margin-zero">50 miles</p>
						<hr class="small">
						<p class="margin-zero">100 miles</p>
						<hr class="small">
						<p class="margin-zero">No Max</p>
					</div>
				</div>
				<hr class="small">
				<div class="item active sorting">
					<div class="clearfix">
						<div class="col-xs-5 pull-left text-left">
							<span>Sorting Options</span>
						</div>
						<div class="col-xs-7 pull-right text-right">
							<p class="margin-zero text-primary">
								<span>Near Me</span>
								<span class="icon icon-chevron-down"></span>
							</p>
						</div>
					</div>
					<div class="filter-content">
						<hr class="small">
						<p class="margin-zero">Default Order</p>
						<hr class="small">
						<p class="margin-zero text-primary">Closest to Me</p>
					</div>
				</div>
				<hr class="small">
				<div class="item active">
					<div class="clearfix">
						<div class="col-xs-12 pull-left text-left">
							<span>Categories</span>
						</div>
					</div>
					<div class="filter-content">
						<hr class="small">
						<p class="margin-zero">All Items</p>
						<hr class="small">
						<p class="margin-zero text-primary">Clothing</p>
						<hr class="small">
						<p class="margin-zero">Food</p>
						<hr class="small">
						<p class="margin-zero">Category Title</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom fixed-bottom">
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Cancel</a>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch active">Apply</a>
		</div>
		<div class="col-xs-4 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Reset</a>
		</div>
	</div>
</body>
</html>