<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<!-- CSS -->
	<link href="../../../../styles/helper.css" rel="stylesheet">
	<link href="../../../../styles/siteIcons.css" rel="stylesheet">
	<link href="assets/style.css" rel="stylesheet">
	
	<!-- JS -->
	<script src="../../../scripts/buildfire.js"></script>
   
 	<!--
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>

    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    -->
</head>
<body class="no-scroll holder padding-zero has-bottom">
	<div class="scrollable">
		<div class="coupon coupon-item layout3">
			<div class="plugin-slide">
				<img src="../../../styles/media/holder-16x9.png">
			</div>
			<div class="padded">
				<div class="clearfix row intro">
					<div class="col-xs-7 pull-left">
						<p class="margin-zero ellipsis" style="font-size:15px;">Item title goes here. Item title goes here.</p>
						<p class="margin-zero ellipsis">Item summary. Item summary. Item summary. Item summary. Item summary.</p>
						<p class="margin-zero small ellipsis"><i>Expires March 21, 2016</i></p>
					</div>
					<div class="col-xs-5 pull-right text-right">
						<img src="assets/media/map-icon.png">
						<div class="save-holder bg-primary backgroundPrimaryTheme text-center pull-right margin-left-ten">
							<span class="icon icon-star-empty whiteTheme"></span>
						</div>
					</div>
				</div>
				<hr class="small">
				<div class="text-center">
					<a class="text-primary">Open More Options</a>
				</div>
				<hr class="small">
				<div class="redeem-photo text-center margin-top-five margin-bottom-ten">
					<img src="../../../styles/media/holder-4x1.png">
				</div>				
				<p class="margin-zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="bottom fixed-bottom border-top-grey transition-third">
		<div class="col-xs-12 pull-left text-center">
			<p class="bodyTextTheme stretch margin-top-ten">Item redeemed 3w 5d 13h 24m ago</p>
		</div>
	</div>
	
	<!-- Simple Popup that notifies user if item is saved or removed from saved list (show for 2 seconds) -->
	<div class="simple-popup activ">
	  	<div class="content border-radius-four text-center">
	    	<p class="whiteTheme margin-zero text-center">Item redeemed</p>
	    	<span class="whiteTheme main-icon glyphicon glyphicon-ok"></span>
	  	</div>
	</div>
</body>
</html>