<body class="no-scroll holder padding-zero has-bottom has-extra-links has-filter map-layout">
	<div class="scrollable">
		<div class="google-map" style="height:100%; background:#eef0f0;"></div>
		<div class="overlay-list coupon layout3 bodyBackgroundTheme active">
			<div class="list-layout">
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="square-icon list-media-holder pull-left">
							<img src="../../../styles/media/holder-4x3.png">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<div class="copy-holder">
								<p class="ellipsis margin-zero text-primary margin-top-five">
									Coupon Title Here
								</p>
								<p class="ellipsis margin-zero bodyTextTheme">
									Coupon description goes here.
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme">
									<i>Exp. Dec. 21, 2016 <span class="dot bodyTextBackgroundTheme"></span>21 mi</i>
								</p>
							</div>
							<!-- When active/saved -->
							<div class="bookmark-holder bg-primary primaryBackgroundTheme">
								<span class="icon icon-star whiteTheme"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="square-icon list-media-holder pull-left">
							<img src="../../../styles/media/holder-4x3.png">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<div class="copy-holder">
								<p class="ellipsis margin-zero text-primary margin-top-five">
									Coupon Title Here
								</p>
								<p class="ellipsis margin-zero bodyTextTheme">
									Coupon description goes here.
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme">
									<i>Exp. Dec. 21, 2016 <span class="dot bodyTextBackgroundTheme"></span>21 mi</i>
								</p>
							</div>
							<!-- When inactive/not saved -->
							<div class="bookmark-holder bg-primary primaryBackgroundTheme">
								<span class="icon icon-star-empty whiteTheme"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="square-icon list-media-holder pull-left">
							<img src="../../../styles/media/holder-4x3.png">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<div class="copy-holder">
								<p class="ellipsis margin-zero text-primary margin-top-five">
									Coupon Title Here
								</p>
								<p class="ellipsis margin-zero bodyTextTheme">
									Coupon description goes here.
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme">
									<i>Exp. Dec. 21, 2016 <span class="dot bodyTextBackgroundTheme"></span>21 mi</i>
								</p>
							</div>
							<!-- When inactive/not saved -->
							<div class="bookmark-holder bg-primary primaryBackgroundTheme">
								<span class="icon icon-star-empty whiteTheme"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="square-icon list-media-holder pull-left">
							<img src="../../../styles/media/holder-4x3.png">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<div class="copy-holder">
								<p class="ellipsis margin-zero text-primary margin-top-five">
									Coupon Title Here
								</p>
								<p class="ellipsis margin-zero bodyTextTheme">
									Coupon description goes here.
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme">
									<i>Exp. Dec. 21, 2016 <span class="dot bodyTextBackgroundTheme"></span>21 mi</i>
								</p>
							</div>
							<!-- When inactive/not saved -->
							<div class="bookmark-holder bg-primary primaryBackgroundTheme">
								<span class="icon icon-star-empty whiteTheme"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="square-icon list-media-holder pull-left">
							<img src="../../../styles/media/holder-4x3.png">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<div class="copy-holder">
								<p class="ellipsis margin-zero text-primary margin-top-five">
									Coupon Title Here
								</p>
								<p class="ellipsis margin-zero bodyTextTheme">
									Coupon description goes here.
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme">
									<i>Exp. Dec. 21, 2016 <span class="dot bodyTextBackgroundTheme"></span>21 mi</i>
								</p>
							</div>
							<!-- When inactive/not saved -->
							<div class="bookmark-holder bg-primary primaryBackgroundTheme">
								<span class="icon icon-star-empty whiteTheme"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="square-icon list-media-holder pull-left">
							<img src="../../../styles/media/holder-4x3.png">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<div class="copy-holder">
								<p class="ellipsis margin-zero text-primary margin-top-five">
									Coupon Title Here
								</p>
								<p class="ellipsis margin-zero bodyTextTheme">
									Coupon description goes here.
								</p>
								<p class="small ellipsis margin-zero bodyTextTheme">
									<i>Exp. Dec. 21, 2016 <span class="dot bodyTextBackgroundTheme"></span>21 mi</i>
								</p>
							</div>
							<!-- When inactive/not saved -->
							<div class="bookmark-holder bg-primary primaryBackgroundTheme">
								<span class="icon icon-star-empty whiteTheme"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="close-bar bg-primary primaryBackgroundTheme">
				<p class="whiteTheme stretch text-center margin-zero small">Close</p>
			</div>
		</div>
	</div>
	<div class="bottom fixed-bottom">
		<div class="extra-links">
			<a class="primaryBackgroundTheme">
				<span class="icon icon-aim whiteTheme"></span>
			</a>
		</div>
		<div class="col-xs-12 pull-left text-center filterBar opacity-seventy primaryBackgroundTheme">
			<span class="whiteTheme small">Filter Applied</span>
		</div>
		<div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">List</a>
		</div>
		<div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch active">Map</a>
		</div>
		<div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Filter</a>
		</div>
		<div class="col-xs-3 pull-left text-center primaryBackgroundTheme">
			<a class="whiteTheme stretch">Saved</a>
		</div>
	</div>
</body>
