<!-- Add/Edit Filter Modal -->
<!--<script type="text/ng-template" id="addEditFilter.html">-->
<div class="header clearfix border-bottom-grey">
  <h4 class="margin-zero">Add / Edit Category</h4>
  <span class="icon icon-cross2 close-modal" ng-click="cancel()"></span>
</div>
<div class="padded clearfix row">
  <div class="content">
    <div class="col-xs-12 pull-left margin-bottom-five">
      <label for="filter-title">Category Title</label>
    </div>
    <div class="col-xs-12 pull-right">
      <input
        id="filter-title"
        ng-model="filterTitle"
        type="text"
        placeholder="Enter Title"
        class="form-control"
        minlength="1"
      />
    </div>
  </div>
</div>
<div class="flex padded-sm">
  <button class="btn btn-outlined btn-secondary flex-left-auto"
  ng-click="cancel()">Cancel</button>
  <button class="margin-left-ten btn btn-success"
  ng-click="ok()">Save</button>
</div>
<!--
</script>-->
