<!-- Filter Categories Modal -->
<div class="header clearfix border-bottom-grey">
  <h4 class="margin-zero">Categories</h4>
  <span class="icon icon-cross2 close-modal" ng-click="closeDialog()"></span>
</div>
<div class="padded clearfix">
  <div class="content row clearfix">
    <div class="col-xs-12 margin-bottom-ten">
      <p class="margin-zero">Include this item in the following categories:</p>
    </div>
    <div class="col-xs-12 pull-left">
      <div
          class="checkbox checkbox-primary no-label col-xs-6 margin-top-zero margin-bottom-ten">
        <input id="nolabel" type="checkbox">
        <label for="nolabel" class="padding-left-ten">Category Name</label>
      </div>
      <div
          class="checkbox checkbox-primary no-label col-xs-6 margin-top-zero margin-bottom-ten">
        <input id="nolabel" type="checkbox">
        <label for="nolabel" class="padding-left-ten">Category Name</label>
      </div>
      <div
          class="checkbox checkbox-primary no-label col-xs-6 margin-top-zero margin-bottom-ten">
        <input id="nolabel" type="checkbox">
        <label for="nolabel" class="padding-left-ten">Category Name</label>
      </div>
      <div
          class="checkbox checkbox-primary no-label col-xs-6 margin-top-zero margin-bottom-ten">
        <input id="nolabel" type="checkbox">
        <label for="nolabel" class="padding-left-ten">Category Name</label>
      </div>
      <div
          class="checkbox checkbox-primary no-label col-xs-6 margin-top-zero margin-bottom-ten">
        <input id="nolabel" type="checkbox">
        <label for="nolabel" class="padding-left-ten">Category Name</label>
      </div>
      <div
          class="checkbox checkbox-primary no-label col-xs-6 margin-top-zero margin-bottom-ten">
        <input id="nolabel" type="checkbox">
        <label for="nolabel" class="padding-left-ten">Category Name</label>
      </div>
    </div>
  </div>
</div>
<div class="bottom border-top-grey clearfix">
  <div class="col-md-6 pull-left text-center">
    <a class="text-default default-background-hover transition-third"
       ng-click="closeDialog('cancel')">Cancel</a>
  </div>
  <div class="col-md-6 pull-right text-center border-left-grey">
    <a class="text-danger default-background-hover transition-third"
       ng-click="closeDialog()">Delete</a>
  </div>
</div>
